body{
  background-color: aquamarine;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media only screen and (min-width: 1100px) { 
  .news_pane{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 0.5rem;
  }
}
@media only screen and (max-width: 1100px) and (min-width:700px)  { 
  .news_pane{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;

    
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) { 
  .news_pane{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 0.5rem;
  }
}
@media only screen and (max-width: 600px) { 
  .news_pane{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 0.5rem;
  }
}


.news_item{

}


li{
  list-style-type: none;
  padding: 1rem;
  height: 20rem;
  overflow: hidden;
  background-color: rgb(61, 124, 108);
}
li:hover{
  list-style-type: none;
  padding: 1rem;
  height: 20rem;
  overflow: hidden;
  background-color: #1ea779;
}


h1{
  text-align: center;
  color: rgba(30, 167, 121, 1);
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: rgba(136, 223, 243, 0.701);
}
a:hover{
  color: white;
}
